.badge-user-list{
    border-radius: 1rem;
    margin: 0rem 0.5rem 0.5rem 0rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    font-weight: 600;
    height: 30px;
}

.badge-user {
    background-color: rgb(194, 235, 141);
}

.badge-active {
    background-color: rgb(201, 209, 185);
}

.badge-admin {
    background-color: rgb(141, 216, 235);
}

.select-user-role {
    width: 100%;
}

.select-user-role > div{
    border: none !important;
    padding: 0px !important;
    width: 100% !important;
}

.user-list-item-magage-avatar{
    height: 40px;
    width: 40px;
    align-items: center;
    background-color: #fafbfc;
    border-radius: 4px;
    border: 1px solid #e8edf0;
    padding: 6px 2px;
    display: flex;
    justify-content: center;
}

.user-list-item-magage-avatar > img {
    max-height: 40px;
    max-width: 40px;
}
