.card{
    border: 1px solid #e1e4e8;
    border-radius: 4px;
}

.card-item{
    padding: 1rem
}

.card-header {
    font-weight: 600;
    background-color: #f9f6ec;
    font-size: 1.25rem;
    border-bottom: 1px solid #e1e4e8;
}

.card-footer{
    border-top: 1px solid #e1e4e8;
}

.card-body {
}