.post-list-item-magage-avatar {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafbfc;
    border: 1px solid #e8edf0;
    border-radius: 4px;
    padding: 6px 2px;
}

.post-list-item-magage-avatar > img {
    max-height: 40px;
    max-width: 40px;
}

.badge-post-list {
    border-radius: 1rem;
    margin: 0rem 0.5rem 0.5rem 0rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    font-weight: 600;
    height: 30px;
}   

.badge_wait {
    background-color: rgb(201, 209, 185);
}

.badge-accept{
    background-color: rgb(141, 216, 235);
}

.badge-cancel {
    background-color: rgb(206, 88, 34);
}

.select-post-status > div{
    border: none !important;
    padding: 0px !important;
    width: 100% !important;
}