.header {
    height: 55px;
    background-color: #dad2b4;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.ant-layout-header {
    padding: 0rem 2rem;
}
  
/* LEFT */
.header-left {
    grid-column: 1 / 3;
    height: 55px;
    font-size: 1.25rem;
    
    display: flex;
    justify-items: left;
    align-items: center;
    a {
        color: rgb(0, 0, 0);
        font-weight: 600;
        span{ 
            margin-right: 0.5rem;
        }
        &:hover {
            color: rgb(0, 0, 0);
        }
    }
}
  
/* CENTER */
.header-center {
    grid-column: 3/11;
    height: 100%;
    display: flex;
    justify-items: left;
    position: relative;
}
  
.header-center-menu {
    height: 100%;
    display: flex;
    justify-items: left;
}
  
.header-center-item {
    padding: 0px 10px;
    height: 100%;
    color: rgba(0, 0, 0, 0.8) !important;
    text-decoration: none;
    cursor: pointer;
}
  
.header-center-item:hover {
    background-color: #b4ae97;;
    transition: 0.5s;
}
  
.header-center-item:hover > a {
    border-color: rgb(69, 2, 0);
    border: 0px 0px 2px 0px;
    color: rgba(0, 0, 0, 1);
}
  
/* RIGHT */
.header-right {
    grid-column: 11/13;
    height: 100%;
    text-align: right !important;
}
  