.app-content {
    background: #ffff;
    padding: 1rem 3rem;
    margin: 0;
  
    overflow-x: scroll;
    overflow: auto;
    margin-top: 55px;
  }
  
  .ant-layout-content {
    min-height: 81vh !important;
    border-left: solid 1px rgba(0, 0, 0, 0.5) !important;
  }
  